$color-primary: #fff;
$background-color-contacto: #16A085;
$background-color-clientes:#3F4E62;
$background-color-portafolio:#FFD233;
$background-color-servicios:#FB7171;
$background-color-skills:#7299FE;
$button-color:#233451;
$button-color-changed:#5956e7;